@import "../base/_mixins";

.primary-nav {
  padding-top: 10px;

  @add-mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @add-mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @add-mixin clearfix;
  }

  li {
    display: inline-block;
    list-style: none;
    padding-right: 7px;

    @add-mixin atMedium {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;

    @add-mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba($mainBlue, 0.5);

    @mixin atMedium {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;
    }
  }
}
